* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
}

.container {
    width: 450px;
   display: grid;
   grid-template-columns: 1fr;
    row-gap: 12px;
}

.nomenclatura {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

input {
    padding: 5px;
}

input, label , button {
    width: 100%;
}

button {
    padding: 15px 20px;
    font-weight: 800;
    font-size: larger;
}

.mostrar {
    border: 1px solid black;
    width: 450px;
    height: 300px;
    overflow-y: scroll;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    background-color: #eee;
    border: 3px solid #888;
}