* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

table {
    width: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #048;
    color: #fff;
    padding: 10px;
}

thead td {
    padding: 10px;
}

tbody td {
    padding: 10px;
}

tbody tr {
    transition: all .5s ease;
}

tbody tr:nth-child(odd) {
    background-color: #ccc;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:hover {
    background-color: #088;
    color: #fff;
}

#blockDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}