* {
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*FORMATAÇÃO TELA DE LOGIN*/

/* .fundoLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.baseLogin {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 50%;
    box-sizing: inherit;
}

.elementosLogin {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    box-sizing: inherit;
}

.logoLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #bbb;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: inherit;

    & img {
        width: 90%;
        box-sizing: inherit;
    }
}

.campoLogin {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 6px;
    margin-bottom: 10px;
    flex-direction: column;
    box-sizing: inherit;

    & label {
        font-size: 18px;
        font-style: italic;
    }

    & input {
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        width: 90%;
    }
}

.botoesLogin {
    position: absolute;
    bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: inherit;

    & button {
        cursor: pointer;
        width: 120px;
        background-color: #048;
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        box-sizing: inherit;
    }
} */